In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data = pd.read_csv('Churn_Modelling.csv')

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
## Processing the data

data = data.drop(['RowNumber','CustomerId', 'Surname'], axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:

onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [11]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
data=pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [13]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
## Split the data into independed and dependent

X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

##Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

##Scaling the featuers
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
##Save the encoders and scaler

with open('label_encoder_gender_reg.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo_reg.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler_reg.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## Train the ANN with regression problem statment :D

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\Cameron\Documents\UDEMY-CODE\DLetoe\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)), #HL1 #You only need the input_shapre fore the first hidden layer
        Dense(32, activation='relu'), #HL 2
        Dense(1) ##Output layer : Note, the base activation function is linear regression
    ]
)

## Complite the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\Cameron\Documents\UDEMY-CODE\DLetoe\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "reg/logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [21]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=True)

In [22]:
## Training the model

history = model.fit(
    X_train, y_train, 
    validation_data=(X_test, y_test), 
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Cameron\Documents\UDEMY-CODE\DLetoe\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Cameron\Documents\UDEMY-CODE\DLetoe\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 5ms/step - loss: 100376.7188 - mae: 100376.7188 - val_loss: 98511.2266 - val_mae: 98511.2266
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99578.4219 - mae: 99578.4219 - val_loss: 96892.2656 - val_mae: 96892.2656
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96723.0000 - mae: 96723.0000 - val_loss: 92719.0859 - val_mae: 92719.0859
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91109.9531 - mae: 91109.9531 - val_loss: 85810.2656 - val_mae: 85810.2656
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 83032.8438 - mae: 83032.8438 - val_loss: 77022.4922 - val_mae: 77022.4922
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 73806.1172 - mae: 73806.1172 - val_loss: 68124.6094 - val_mae: 68124.6094
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 65062.5977 - mae: 65062.5977 - val_loss: 60493.9414 - val_mae: 60493.9414
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 58267.7812 - mae: 58267.7812 - val_loss: 55258.0664 - val_mae: 55258.0664
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 54085.2930 - mae: 54085.2930 - val_loss: 52570.3438 - val_mae: 52570.3438
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51945.1641 - mae: 51945.1641 - val_loss: 51456.2305 - val_mae: 51456.2305
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51065.1250 - mae: 51065.1250 - val_loss: 51138.5391 - val_mae: 51138.5391
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50725.6836 - mae: 50725.6836 - val_loss: 51038.6562 - val_mae: 51038.6562
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50555.3516 - mae: 50555.3516 - val_loss: 50983.6445 - val_mae: 50983.6445
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50445.0625 - mae: 50445.0625 - val_loss: 50935.3477 - val_mae: 50935.3477
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50362.6602 - mae: 50362.6602 - val_loss: 50893.4414 - val_mae: 50893.4414
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50295.9062 - mae: 50295.9062 - val_loss: 50845.0508 - val_mae: 50845.0508
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50232.2188 - mae: 50232.2188 - val_loss: 50809.5234 - val_mae: 50809.5234
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50177.7578 - mae: 50177.7578 - val_loss: 50777.2227 - val_mae: 50777.2227
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50125.4844 - mae: 50125.4844 - val_loss: 50752.4414 - val_mae: 50752.4414
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50084.2266 - mae: 50084.2266 - val_loss: 50721.3789 - val_mae: 50721.3789
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50044.4141 - mae: 50044.4141 - val_loss: 50697.8359 - val_mae: 50697.8359
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 50008.9336 - mae: 50008.9336 - val_loss: 50670.5078 - val_mae: 50670.5078
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49979.2188 - mae: 49979.2188 - val_loss: 50648.5195 - val_mae: 50648.5195
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49949.3477 - mae: 49949.3477 - val_loss: 50628.6172 - val_mae: 50628.6172
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49922.9570 - mae: 49922.9570 - val_loss: 50609.8359 - val_mae: 50609.8359
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49895.5781 - mae: 49895.5781 - val_loss: 50594.7070 - val_mae: 50594.7070
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49871.9297 - mae: 49871.9297 - val_loss: 50585.6992 - val_mae: 50585.6992
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49846.6836 - mae: 49846.6836 - val_loss: 50562.6172 - val_mae: 50562.6172
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49825.8594 - mae: 49825.8594 - val_loss: 50539.5312 - val_mae: 50539.5312
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49805.3125 - mae: 49805.3125 - val_loss: 50522.7852 - val_mae: 50522.7852
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49787.6641 - mae: 49787.6641 - val_loss: 50518.2734 - val_mae: 50518.2734
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49767.2656 - mae: 49767.2656 - val_loss: 50508.1055 - val_mae: 50508.1055
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49751.4883 - mae: 49751.4883 - val_loss: 50494.1133 - val_mae: 50494.1133
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49736.9766 - mae: 49736.9766 - val_loss: 50492.9023 - val_mae: 50492.9023
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49719.9531 - mae: 49719.9531 - val_loss: 50483.9023 - val_mae: 50483.9023
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49703.2148 - mae: 49703.2148 - val_loss: 50474.0664 - val_mae: 50474.0664
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49689.9297 - mae: 49689.9297 - val_loss: 50463.0859 - val_mae: 50463.0859
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49676.5898 - mae: 49676.5898 - val_loss: 50459.6797 - val_mae: 50459.6797
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49668.9727 - mae: 49668.9727 - val_loss: 50459.7539 - val_mae: 50459.7539
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49654.8984 - mae: 49654.8984 - val_loss: 50449.9648 - val_mae: 50449.9648
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49640.9609 - mae: 49640.9609 - val_loss: 50447.9453 - val_mae: 50447.9453
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49634.7227 - mae: 49634.7227 - val_loss: 50445.2344 - val_mae: 50445.2344
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49621.6289 - mae: 49621.6289 - val_loss: 50437.0156 - val_mae: 50437.0156
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49610.6094 - mae: 49610.6094 - val_loss: 50438.0391 - val_mae: 50438.0391
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49602.6133 - mae: 49602.6133 - val_loss: 50429.7734 - val_mae: 50429.7734
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.8359 - mae: 49593.8359 - val_loss: 50435.2461 - val_mae: 50435.2461
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49585.0078 - mae: 49585.0078 - val_loss: 50431.4727 - val_mae: 50431.4727
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49575.5508 - mae: 49575.5508 - val_loss: 50417.7852 - val_mae: 50417.7852
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49565.3359 - mae: 49565.3359 - val_loss: 50437.5859 - val_mae: 50437.5859
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49561.3438 - mae: 49561.3438 - val_loss: 50437.1367 - val_mae: 50437.1367
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49552.4062 - mae: 49552.4062 - val_loss: 50435.5234 - val_mae: 50435.5234
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49544.1562 - mae: 49544.1562 - val_loss: 50427.1250 - val_mae: 50427.1250
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49534.7383 - mae: 49534.7383 - val_loss: 50424.7930 - val_mae: 50424.7930
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49527.6836 - mae: 49527.6836 - val_loss: 50420.1719 - val_mae: 50420.1719
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49521.9219 - mae: 49521.9219 - val_loss: 50423.0547 - val_mae: 50423.0547
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49518.1094 - mae: 49518.1094 - val_loss: 50423.5859 - val_mae: 50423.5859
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49509.1328 - mae: 49509.1328 - val_loss: 50415.4609 - val_mae: 50415.4609
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49498.9141 - mae: 49498.9141 - val_loss: 50414.0234 - val_mae: 50414.0234
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49496.3125 - mae: 49496.3125 - val_loss: 50413.1250 - val_mae: 50413.1250
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.7383 - mae: 49486.7383 - val_loss: 50421.1641 - val_mae: 50421.1641
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.0625 - mae: 49481.0625 - val_loss: 50416.8320 - val_mae: 50416.8320
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49475.6484 - mae: 49475.6484 - val_loss: 50412.2070 - val_mae: 50412.2070
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49471.4062 - mae: 49471.4062 - val_loss: 50402.0625 - val_mae: 50402.0625
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 49464.6914 - mae: 49464.6914 - val_loss: 50395.1172 - val_mae: 50395.1172
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49463.4492 - mae: 49463.4492 - val_loss: 50394.3906 - val_mae: 50394.3906
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 49453.4062 - mae: 49453.4062 - val_loss: 50392.7617 - val_mae: 50392.7617
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49448.6797 - mae: 49448.6797 - val_loss: 50397.2422 - val_mae: 50397.2422
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49443.1406 - mae: 49443.1406 - val_loss: 50387.0312 - val_mae: 50387.0312
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49438.9062 - mae: 49438.9062 - val_loss: 50401.4414 - val_mae: 50401.4414
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 49434.4766 - mae: 49434.4766 - val_loss: 50392.4844 - val_mae: 50392.4844
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 49430.6484 - mae: 49430.6484 - val_loss: 50395.9492 - val_mae: 50395.9492
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49424.9453 - mae: 49424.9453 - val_loss: 50399.8125 - val_mae: 50399.8125
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 49418.4141 - mae: 49418.4141 - val_loss: 50396.8594 - val_mae: 50396.8594
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49415.5859 - mae: 49415.5859 - val_loss: 50395.5469 - val_mae: 50395.5469
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 49410.7383 - mae: 49410.7383 - val_loss: 50386.1094 - val_mae: 50386.1094
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 49407.6016 - mae: 49407.6016 - val_loss: 50399.7148 - val_mae: 50399.7148
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 49402.5000 - mae: 49402.5000 - val_loss: 50389.7891 - val_mae: 50389.7891
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 49399.7188 - mae: 49399.7188 - val_loss: 50400.0352 - val_mae: 50400.0352
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 49394.6055 - mae: 49394.6055 - val_loss: 50396.0273 - val_mae: 50396.0273
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 49391.0195 - mae: 49391.0195 - val_loss: 50403.7383 - val_mae: 50403.7383
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 49385.8242 - mae: 49385.8242 - val_loss: 50411.0508 - val_mae: 50411.0508
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 49384.9727 - mae: 49384.9727 - val_loss: 50403.9141 - val_mae: 50403.9141
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 49379.6016 - mae: 49379.6016 - val_loss: 50407.5195 - val_mae: 50407.5195
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 49374.3516 - mae: 49374.3516 - val_loss: 50412.8672 - val_mae: 50412.8672
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 49373.1953 - mae: 49373.1953 - val_loss: 50412.7070 - val_mae: 50412.7070
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 49371.8438 - mae: 49371.8438 - val_loss: 50396.7539 - val_mae: 50396.7539
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 49364.1719 - mae: 49364.1719 - val_loss: 50402.2422 - val_mae: 50402.2422
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 49360.7891 - mae: 49360.7891 - val_loss: 50405.9922 - val_mae: 50405.9922
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 49357.1289 - mae: 49357.1289 - val_loss: 50413.7734 - val_mae: 50413.7734
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 49354.7891 - mae: 49354.7891 - val_loss: 50400.4023 - val_mae: 50400.4023

In [23]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir reg/logs/fit

In [25]:
## Evaluate the model on the test data

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50386.1094 - mae: 50386.1094
Test MAE: 50386.109375

In [26]:
model.save('regression_model.h5')

c:\Users\Cameron\Documents\UDEMY-CODE\DLetoe\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(